body {
    margin: 0;
    padding: 20px 0 0 0;
}
main {
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-row-gap: clamp(20px, 5vw, 30px);
    max-width: 830px;
    padding: 15px;
    margin: 0 auto;
}
.disactive,
.loading-disactive {
    display: none !important;
}
.favorite-towns-for-loading {
    margin: 10px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-row-gap: clamp(10px, 5vw, 20px);
}
.favorite-towns-for-loading__label {
    width: 193px;
    height: 40px;
    margin: 0;
    padding: 0; 
    border-radius: 15px;
}
.favorite-towns-for-loading__content-conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, auto);
    grid-gap: 20px;
    padding: 0 0 0 20px;
}
.favorite-towns-for-loading__town-name {
    height: 45px;
    border-radius: 20px;
}
.favorite-towns-for-loading__add-button--center-conteiner {
    display: flex;
    justify-content: center;
    padding: 0 0 0 20px;
}
.favorite-towns-for-loading__add-button {
    width: 188px;
    height: 45px;
    border-radius: 20px;
}
.search-loading {
    height: 60px;
    width: 100%;
    border-radius: 20px;
}
.favorite-towns-for-loading-notification__conteiner {
    height: 104px;
    width: 285px;
    margin: 0 auto;
    border-radius: 20px;
}
.animate {
    pointer-events: none;
    background: linear-gradient(90deg, rgba(159, 159, 161, 0.29) 0%, rgba(235, 235, 235, 0.25) 50%, rgba(159, 159, 161, 0.29) 100%);
    background-size: 1000% 1000%;
    animation: background-animation 2s ease infinite;
}
@keyframes background-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.favorite-towns-for-loading__content-conteiner-4-colums {
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 845px) {
    .favorite-towns-for-loading__content-conteiner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fit, auto);
    }
}
.favorite-towns-for-loading__content-conteiner-3-colums {
    grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 720px) {
    .favorite-towns-for-loading__content-conteiner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, auto);
    }
}
.favorite-towns-for-loading__content-conteiner-2-colums {
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 490px) {
    .favorite-towns-for-loading__content-conteiner {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, auto);
        padding: 0 0 0 15px;
    }
    .search-loading {
        height: 56px;
    }
}
.favorite-towns-for-loading__content-conteiner-1-colum {
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 390px) {
    .search-loading {
        height: 50px;
    }
    .favorite-towns-for-loading__content-conteiner {
        padding: 0 0 0 10px;
    }
}