body {
    margin: 0;
    padding: 20px 0 0 0;
}
main {
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-row-gap: clamp(20px, 5vw, 30px);
    max-width: 830px;
    padding: 15px;
    margin: 0 auto;
}
.disactive {
    display: none !important;
}
.search {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    min-height: 50px;
    max-width: 830px;
    width: 100%;
    box-sizing: border-box;
    z-index: 50;
}
.display-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: display-dark-animation;
    animation-duration: .2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    z-index: 49;
}
.display-dark--disactive-animation {
    animation: display-dark-disactive-animation;
    animation-duration: .2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.display-dark--disactive {
    display: none;
}
.search__modal-menu {
    top: 100px;
    position: absolute;
    width: calc(100% - 30px);
    max-width: 830px;
    border-radius: 20px;
    overflow: hidden;
    animation-name: pop_up_app;
    animation-duration: .2s;
    animation-timing-function: ease;
}
.search__modal-menu--disactive-animation {
    animation-name: pop_up_remove_transform;
    animation-duration: .1s;
    animation-timing-function: ease;
}
.search__modal-menu--disactive {
    display: none;
}
.modal-menu {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    transition: .2s ease;
}
.modal-menu__town-button {
    position: relative;
    min-height: 50px;
    padding: 15px 35px;
    margin: 0;
    border: none;
    outline: none;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    z-index: 100;
}
.modal-menu__town-button:hover {
    cursor: pointer;
}
.search-background {
    display: none;
    height: 60px;
    width: 100%;
}
.search__back-button {
    position: relative;
    top: calc(50% - 30px);
    display: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;   
    border: none;
    outline: none;
    border-radius: 20px; 
    transition: width .2s ease, height .2s ease, background .2s ease, transform .2s ease, margin .2s ease, box-shadow .2s ease;
}
.search__back-button--img {
    width: 50px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.search__back-button:hover,
.search__back-button:focus {
    cursor: pointer;
    transform: translateX(-3px);
}
.search__input-conteiner {
    display: grid;
    grid-template-columns: 1fr min-content;;
    height: 60px;
    border: none;
    border-radius: 20px; 
    padding: 5px;
    box-sizing: border-box;
    transition: box-shadow .2s ease, background .2s ease;
}
.search__input-conteiner:hover,
.add-new-town__town-input:hover,
.add-new-town__town-input:focus {
    box-shadow: var(--box-shadow-active);
}
.search__input {
    min-width: 100px;
    padding: 0 10px;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 15px;
    outline: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: clamp(18px, 4vw, 21px);
    color: var(--main-text-color);
    transition: background .2s ease;
}
.search__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: .2s ease;
}
.search__button--img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
}
.search__button:hover,
.search__button:focus {
    cursor: pointer;
}
.search-scroll {
    position: fixed;
    grid-column-gap: 10px;
    top: 0;
    left: 0;
    max-width: 800px;
    width: 100vw;
    margin: 15px calc((50% - 400px)) 0 calc((50% - 400px));
    border-radius: 20px;
    box-shadow: 0px 0px 18px #0000001f;
    animation-name: app_search;
    animation-duration: .1s;
    animation-direction: ease;
}
.search-scroll .search__modal-menu {
    top: 84px;
    width: 100%;
    backdrop-filter: blur(5px);
}
.search-scroll .search__modal-menu--disactive-animation {
    animation-name: pop_up_remove_transform;
}
.search-scroll__input-conteiner {
    margin: 0;
}
.search-scroll__ {
    background: #ffffff;
}
.search-scroll__back-button {
    margin: 0;
}
.search-scroll__back-button:hover,
.search-scroll__back-button:focus {
    transform: translateX(0px);
}
.latest-towns {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row-gap: clamp(10px, 5vw, 20px);
    display: none;
    animation-name: main_section_app;
    animation-duration: .2s;
    animation-direction: ease;
}
.last_town_button--content {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.latest-towns__town-name-button {
    margin: 0 0 2px 0;
    font-weight: 600;
}
.latest-towns__town-temp {
    font-size: clamp(22px, 4vw, 25px);
    font-weight: 600;
}
.latest-towns__town-temp--conteiner {
    display: flex;
    position: relative; 
}
.latest-towns__town-temp::after {
    position: absolute;
    content: "℃";
    font-size: clamp(18px, 4vw, 20px);
    font-weight: 1000;
}
.latest-towns__data-conteiner {
    display: flex;
    gap: 5px;
}
.last-town__weather-data-conteiner {
    display: flex;
    gap: 15px;
}
.latest-towns__data-label {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.latest-towns__wind,
.latest-towns__humidity {
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
.latest-towns__wind {
    margin: 0 28px 0 0;
}
.latest-towns__humidity {
    margin: 0 15px 0 0;
}
.latest-towns__wind::after {
    position: absolute;
    top: 2px;
    content: "м/с";
    width: 28px;
    font-size: 16px;
}
.latest-towns__humidity::after {
    position: absolute;
    top: 2px;
    content: "%";
    font-size: 16px;
}
.latest-towns__label,
.recommend-towns__label {    
    width: max-content;
    padding: 10px;
    margin: 10px 0 clamp(3px, 1vw, 7px) 0;
    border-radius: 15px;
    font-size: clamp(17px, 4vw, 18px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    white-space: nowrap;
    box-sizing: border-box;
}
.latest-towns__label::first-letter,
.recommend-towns__label::first-letter,
.recommend-towns__town-button-name::first-letter,
.weather-main__status::first-letter,
.recommend-towns__add-button--content::first-letter,
.weather-other__label::first-letter,
.add-new-town__button--text::first-letter,
.latest-towns__town-name-button::first-letter,
.modal-menu__town-button::first-letter,
.forecast-day__label::first-letter,
.forecast-day__status::first-letter {
    text-transform: uppercase;
}
.recommend-towns {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-row-gap: clamp(10px, 5vw, 20px);
    animation-name: main_section_app;
    animation-duration: .2s;
    animation-direction: ease;
}
.recommend-towns__content-conteiner,
.latest-towns__content-conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, auto);
    grid-gap: 20px;
    padding: 0 0 0 20px;
}
.recommend-towns__button,
.latest-towns__town-button {
    display: block;
    position: relative;
    min-height: 45px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: .2s ease;
    box-sizing: border-box;
    user-select: none; 
}
.recommend-towns__button--append-animation {
    animation-name: pop_up_app;
    animation-duration: .2s;
    animation-timing-function: ease;
}
.latest-towns__town-button {
    padding: 10px 16px;
    border: none;
    outline: none;
    background: none;
    color: #000000d7;
    text-align: left;
    font-size: clamp(17px, 4vw, 18px);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.recommend-towns__town-button-name {
    height: 100%;
    width: calc(100% - 30px);
    padding: 10px 6px 10px 16px;
    margin: 0 30px 0 0px;
    border: none;
    outline: none;
    text-align: left;
    font-size: clamp(17px, 4vw, 18px);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.recommend-towns__close-button {
    display: block;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 10px 10px !important;
    position: absolute;
    top: 10px;
    left: calc(100% - 35px);
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 100%;
    opacity: 0;
    transition: .2s ease;
}
.recommend-towns__button--active {
    cursor: pointer;
    box-shadow: 0px 3px 18px #0000001f;
    transform: translateY(-3px);
}
.recommend-towns__button:hover,
.latest-towns__town-button:hover,
.latest-towns__town-button:focus {
    cursor: pointer;
    transform: translateY(-3px);
}
.recommend-towns__button--active {
    box-shadow: 0px 3px 18px #0000001f;
    transform: translateY(-3px);
}
.recommend-towns__button:hover .recommend-towns__close-button {
    opacity: 1;
}
.recommend-towns__town-button-name:hover {
    cursor: pointer;
} 
.recommend-towns__close-button:hover,
.recommend-towns__close-button:focus {
    cursor: pointer;
    background: #0000001c;
    opacity: 1;
}
.recommend-towns__close-button:hover .recommend-towns__button {
    background: #ff8a8a69;
} 
.recommend-towns__add-button--center-conteiner {
    display: flex;
    justify-content: center;
    padding: 0 0 0 20px;
    transition: .2s ease;
}
.recommend-towns__add-button {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 45px;
    padding: 10px 15px 10px 45px;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: .2s ease;
}
.recommend-towns__add-button--content {
    position: relative;
    text-align: right;
    font-size: clamp(15px, 4vw, 16px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.recommend-towns__add-button-before {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 11px;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 10px;
    font-weight: 500;
}
.recommend-towns__add-button:hover,
.recommend-towns__add-button:focus,
.add-new-town__button:hover,
.add-new-town__button:focus {
    cursor: pointer;
    transform: translateY(-3px);
}
.rocommend-towns__no-town-notification {
    position: relative;
    top: 7px;
    margin: 70px auto 0 auto;
    text-align: center;
    font-size: clamp(20px, 5vw, 24px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #000000dc;
    animation-name: main_section_app;
    animation-duration: .2s;
    animation-iteration-count: 1;
}
.rocommend-towns__no-town-notification--back {
    animation-name: main_section_back;
    animation-duration: .2s;
    animation-iteration-count: 1;
}
.rocommend-towns__no-town-notification::before {
    position: absolute;
    content: "";
    top: calc(clamp(60px, 14vw, 70px) * -1);
    left: calc(50% - 30px);
    width: clamp(50px, 12vw, 60px);
    height: clamp(50px, 12vw, 60px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.weather-template {
    display: grid;
    display: none;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: clamp(30px, 5vw, 50px);
    opacity: 0;
    transform: translateY(15px);
    transition: 0s;
    transition-delay: 0s;
}
.weather-template--active {
    opacity: 1;
    transition: .2s ease;
    transition-delay: 0s;
    transform: translateY(0px);
}
.weather-main {
    display: grid;
    grid-template-rows: min-content 1fr;
}
.weather-main__temp-conteiner {
    display: flex;
    justify-content: center;
}
.weather-main__status-conteiner {
    width: 100%;
}
.weather-main__temp {
    position: relative;
    font-size: clamp(130px, 22vw, 180px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.weather-main__temp::after {
    position: absolute;
    top: 10px;
    content: "℃";
    font-size: clamp(40px, 8vw, 70px);
}
.weather-main__status {
    box-sizing: border-box;
    max-width: clamp(200px, 90%, 800px);
    padding: 10px clamp(16px, 10vw, 32px);
    margin: 0 auto;
    border-radius: 40px;
    text-align: center;
    font-size: clamp(20px, 6vw, 50px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}
.weather-other {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
}
.weather-other__data-block {
    display: grid;
    grid-template-columns: 1fr .4fr;
    grid-column-gap: 20px;
}
.weather-other__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: clamp(17px, 4vw, 18px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.weather-other__data {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: clamp(17px, 4vw, 18px);
    line-height: clamp(17px, 4vw, 18px);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}
.wind__data {
    margin: 0 30px 0 0;
}
.wind__data::after {
    position: absolute;
    content: "м/с";
}
.min_max_temp__data {
    margin: 0 20px 0 0;
}
.min_max_temp__data:after {
    position: absolute;
    content: "℃";
}
.humidity__data {
    margin: 0 15px 0 0;
}
.humidity__data:after {
    position: absolute;
    content: "%";
}
.animation {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
  }
.animation span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(107, 107, 107) transparent transparent transparent;
}
.add-new-town__button--active .add-new-town__animation {
    animation: display-dark-animation;
    animation-duration: .2s;
    animation-timing-function: ease;
}
.add-new-town__button--active .add-new-town__animation span {
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    margin: 0px;
    border-color: rgb(107, 107, 107) transparent transparent transparent;
}
.search__animation-conteiner {
    position: fixed !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 110px;
    left: calc(50% - 25px);
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 100%;
    z-index: -1;
    pointer-events: none;
    transition: .15s ease;
    transform: scale(1);
    opacity: 1;
}
.search__animation-conteiner .animation {
    top: -3px;
    left: -4px;
    width: 50px;
    height: 50px;
}
.search__animation-conteiner .animation span {
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 50%;
}
.search__animation-conteiner--disactive {
    opacity: 0;
    top: 70px;
    transform: scale(.6);
}
.search__animation-conteiner-scroll {
    top: 85px;
}
.animation span:nth-child(1) {
    animation-delay: -0.45s;
}
.animation span:nth-child(2) {
    animation-delay: -0.3s;
}
.animation span:nth-child(3) {
    animation-delay: -0.15s;
}
.add-new-town {
    display: flex;
    justify-content: center;
    margin: -10px 0 0 0;
    animation-name: add_new_town;
    animation-duration: .2s;
    animation-iteration-count: 1;
} 
.add-new-town__back-animation {
    animation-name: add_new_town_back;
    animation-duration: .2s;
    animation-iteration-count: 1; 
}
.add-new-town__content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.add-new-town__town-input,
.add-new-town__button {
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    transition: .2s ease;
}
.add-new-town__town-input {
    min-height: 30px;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: clamp(17px, 4vw, 18px);
}
.add-new-town__center-conteiner {
    display: flex;
    justify-content: center;
}
.add-new-town__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    padding: 10px 20px;
    font-size: clamp(15px, 4vw, 16px);
}
.add-new-town__button .add-new-town__animation {
    display: none;
}
.add-new-town__button--active .add-new-town__animation {
    display: inline-block;
}
.add-new-town__button--active .add-new-town__button--text {
    display: none;
}
.add-new-town__button--active {
    padding: 10px;
    border-radius: 100%;
}
.add-new-town__button--active:hover,
.add-new-town__button--active:focus {
    transform: translateX(0px);
}
.town-notification {
    position: absolute;
    display: none;
    justify-content: center;
    top: 120px;
    flex-direction: column;
    width: 100%;
    padding: 140px 0 0 0;
    animation-duration: .3s;
    animation-name: pop_up_app;
    animation-iteration-count: 1;
}
.town-notification__icon {
    position: absolute;
    left: calc(50% - 100px);
    top: -30px;
    height: 200px;
    width: 200px;
    background-position: -25px -25px;
    background-repeat: no-repeat;
    background-size: contain;
}
.town-notification__label {
    margin: 20px auto 0 auto;
    max-width: calc(100% - 40px);
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(22px, 5vw, 25px);
    font-weight: 600;
    word-wrap: break-word;
}
.town-not-found-notification__label {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8px;
}
.town-not-found-notification__label--content {
    display: block;
    max-width: calc(100% - 40px);
    word-wrap: break-word;
}
.town-notification__buttons-menu {
    display: flex;
    flex-direction: column;
}
.town-notification__button {
    display: flex;
    align-items: center;
    min-height: 45px;
    padding: 10px 20px 10px 45px;
    margin: 25px auto 0 auto;
    font-size: clamp(14px, 4vw, 16px);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000016;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    transition: .2s ease;
}
.no-connection-notification,
.town-not-found-notification,
.enter-town-notification {
    position: absolute;
}
.no-connection-notification__refresh-button-text,
.town-not-found-notification__home-button-text {
    position: relative;
}
.town-not-found-notification__home-button-text {
    text-align: center;
}
.no-connection-notification__refresh-button-text::before,
.town-not-found-notification__home-button-text::before {
    position: absolute;
    content: "";
    top: calc(50% - 12px);
    left: -35px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #00000016;
    background-position: center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}
.no-connection-notification__refresh-button:hover,
.no-connection-notification__refresh-button:focus,
.town-not-found-notification__home-button:hover,
.town-not-found-notification__home-button:focus {
    cursor: pointer;
    box-shadow: 0px 3px 18px #0000001f;
    transform: translateY(-3px);
}
.indicate-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 5px;
    border-radius: 18px;
    animation-duration: .3s;
    animation-iteration-count: 1;
}
.right-animation {
    animation-name: pop_up_app_right;
}
.bottom-animation {
    animation-name: pop_up_app_bottom;
}
.top-animation {
    animation-name: pop_up_app_top; 
}
.left-animation {
    animation-name: pop_up_app_left; 
}
.right-animation::after,
.bottom-animation::after,
.top-animation::after,
.left-animation::after,
.right-animation-remove::after,
.bottom-animation-remove::after,
.top-animation-remove::after,
.left-animation-remove::after {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    animation-duration: .3s;
    animation-iteration-count: 1;
}
.right-animation::after,
.right-animation-remove::after {
    left: -20px;
    top: 15px;
    border-right: 10px solid #ffffff;
}
.bottom-animation::after,
.bottom-animation-remove::after {
    left: 20px;
    top: -20px;
    border-bottom: 10px solid #ffffff; 
}
.top-animation::after,
.top-animation-remove::after {
    left: 20px;
    top: 100%;
    border-top: 10px solid #ffffff; 
}
.left-animation::after,
.left-animation-remove::after {
    left: 100%;
    top: 15px;
    border-left: 10px solid #ffffff;
}
.right-animation-remove::after,
.bottom-animation-remove::after,
.top-animation-remove::after {
    animation-name: pop_up_remove;
}

.indicate-menu--remove-animation {
    animation-name: pop_up_remove;
}
.indicate-menu__remove-button,
.indicate-menu__search-button {
    position: relative;
    min-width: 120px;
    padding: 5px 25px 5px 50px;
    margin: 0;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    transition: .15s ease;
}
.indicate-menu__remove-button::before,
.indicate-menu__search-button::before {
    position: absolute;
    content: "";
    left: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.indicate-menu__search-button::before {
    left: 22px;
    width: 32px;
    height: 32px;
}
.indicate-menu__remove-button:hover,
.indicate-menu__search-button:hover {
    cursor: pointer;
}
.weather-forecast {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.weather-forecast__content {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    border-radius: 35px;
}
.forecast-day {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    transition: .2s ease;
}
.forecast-day:hover,
.forecast-day:focus {
    cursor: pointer;
}
.forecast-day__main-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}
.forecast-day__date-conteiner {
    display: flex;
    gap: 8px;
}
.forecast-day__label {
    height: min-content;
    padding: 5px 10px;
    margin: 0 0 5px 0;
    border-radius: 25px;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 17px;
}
.forecast-day__main-information {
    position: relative;
    display: flex;
    gap: 6px;
    padding: 0 0 0 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
} 
.forecast-day__temp {
    position: relative;
    margin: 0 20px 0 0;
    font-size: 22px;
}
.forecast-day__temp::after {
    position: absolute;
    content: "°C";
}
.forecast-day__status {
    position: absolute;
    top: -8px;
    left: calc(100% - 55px);
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.forecast-day__second-block {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    padding: 0 0 0 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.forecast-day__wind,
.forecast-day__humidity {
    position: relative;
    margin: 0 0 0 22px;
}
.forecast-day__wind {
    margin: 0 25px 0 22px;
}
.forecast-day__humidity {
    margin: 0 25px 0 10px;
}
.forecast-day__wind::before,
.forecast-day__humidity::before {
    position: absolute;
    content: "";
    left: -22px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.forecast-day__wind::after,
.forecast-day__humidity::after {
    position: absolute;
}
.forecast-day__wind::after {
    width: 25px;
    content: "м/с";
    top: 2px;
    font-size: 15px;
}
.forecast-day__humidity::after {
    width: 10px;
    content: "%";
    top: 2px;
    font-size: 15px;
}

/** Element disactive and active animations **/

.disactive-animation {
    animation-name: disactive-animation;
    animation-duration: .1s;
    animation-timing-function: ease;
}

.active-animation {
    animation-name: active-animation;
    animation-duration: .1s;
    animation-timing-function: ease;
}