:root {
    --main-background: #ffffff;

    --elem-background-color: #ffffff;
    --main-text-color: #000000d7;
    --display-dark-color: #0000001c;
    --link-color: #000000d7;

    --dark-color-1: #0000000c;
    --weather-info-background: #ffffff0c;
    --search-scroll-background: #ffffffc5;
    --search-scroll-blur: blur(5px);
    --search-modal-menu-town-color-active: #ebebeb9b;
    --search-scroll-modal-menu-town-color-active: #d8d8d84f;
    --search-animation-color: #6b6b6b;

    --search-button-active: #00000013;
    --label-text-color: #000000dc;
    --label-background-color: #00000009;
    --town-close-button-background: #00000010;
    --latest-towns-name-button-color: #000000d5;
    --latest-towns-second-info-color: #0000009b;

    --add-new-town-text-color: #000000af;
    --add-new-town-background-color: #00000016;
    --forecast-day-color: #f0f0f04f;

    --indicate-menu-active-background: #f5f5f5;

    --box-shadow-main: 0px 0px 10px #00000016;
    --box-shadow-active: 0px 0px 18px #0000001f;
}

body[theme="dark"] {
    --main-background: #3d3d3f;

    --elem-background-color: #4a4c4e;
    --main-text-color: #d1d1d1d7;
    --display-dark-color: #0000001c;
    --link-color: #000000d7;

    --dark-color-1: #ffffff1a;
    --weather-info-background: #ffffff0c;
    --search-scroll-background: #4a4c4ec0;
    --search-scroll-blur: blur(5px);
    --search-modal-menu-town-color-active: #6969699b;
    --search-scroll-modal-menu-town-color-active: rgba(129, 129, 129, 0.31);
    --search-animation-color: #d1d1d1;

    --search-button-active: #6969699b;
    --label-text-color: #d1d1d1d7;
    --label-background-color: #4a4c4e;
    --town-close-button-background: #bbbbbb33;
    --latest-towns-name-button-color: #d1d1d1d7;
    --latest-towns-second-info-color: #d1d1d1d7;

    --add-new-town-text-color: #d1d1d1d7;
    --add-new-town-background-color: #bbbbbb33;
    --forecast-day-color: #f0f0f00e;

    --indicate-menu-active-background: #ffffff1a;

    --box-shadow-main: 0px 0px 10px #00000016;
    --box-shadow-active: 0px 0px 18px #0000001f;
}